<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title>类型属性配置</title>
<script src="[@common.ctx /]/static/plug/jquery/jquery.min.js"
	type="text/javascript"></script>
<script src="[@common.ctx /]/static/plug/bootstrap/js/bootstrap.min.js"
	type="text/javascript"></script>
<script
	src="[@common.ctx /]/static/plug/bootstrap/js/bootstrap-table.js"
	type="text/javascript"></script>
<script
	src="[@common.ctx /]/static/plug/bootstrap/js/bootstrap-table-zh-CN.js"
	type="text/javascript"></script>

<script src="[@common.ctx /]/static/js/common/public.js"
	type="text/javascript"></script>
<script src="[@common.ctx /]/static/js/codelist.js"
	type="text/javascript"></script>

<link type="text/css" rel="stylesheet"
	href="[@common.ctx /]/static/plug/bootstrap/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet"
	href="[@common.ctx /]/static/plug/bootstrap/css/bootstrap-table.css" />
<link type="text/css" rel="stylesheet"
	href="[@common.ctx /]/static/css/common/public.css" />
</head>

<body>
<input type="hidden" id="ctx" value="[@common.ctx /]" />
	<div class="container">
		<br />
		<div class="panel panel-default" style="margin-bottom: 0px;">
			<div class="panel-body">
				<form id="formSearch" class="form-inline">
					<div class="form-group">
						<label class="control-label" for="search_code_type">类型编码</label>
						<input type="text" class="form-control" id="search_code_type" placeholder="请选择类型">
					</div>
					<div class="form-group">
						<label class="control-label" for="search_code_name">参数名称</label>
						<input type="text" class="form-control" id="search_code_name" placeholder="请输入参数名称">
					</div>
					<div class="form-group">
						<label class="control-label" for="search_code_status">状态</label>
						<div class="form-group">
							<select class="form-control" id="search_code_status">
								<option value="2">全部</option>
								<option value="1">有效</option>
								<option value="0">无效</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<button type="button" id="btn_query" class="btn btn-primary">查询</button>
						<button type="button" id="btn_reset" class="btn btn-primary">重置</button>
					</div>
			</div>
			</form>
		</div>
		<div id="toolbar" class="btn-group">
			<button id="btn_add" type="button" class="btn btn-primary">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
			</button>
			<button id="btn_edit" type="button" class="btn btn-success">
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
			</button>
			<button id="btn_delete" type="button" class="btn btn-warning">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
			</button>
			<button id="btn_refresh" type="button" class="btn btn-info">
				<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>刷新缓存
			</button>
		</div>
		<table id="table_code_list"></table>
		
	</div>
	
	<!-- 参数编辑模态框 -->
	<div class="modal_layer" belong="mask" id="edit_code_list">
		<div class="bg_cover"></div>
		<div class="modal_box">
			<div class="modal_top">
				<span class="modal_title">参数编辑</span><span class="modal_close">x</span>
			</div>
			<div class="modal_middle" style="margin-top: 0;">
				<div class="detail_last_item">
					<input type="hidden" id="edit_code_list_oper_type" value="101">
					<input type="hidden" id="edit_code_list_id" value="">
					<div class="form-group">
						<label for="edit_code_list_type">类型编码</label> <input type="text"
							class="form-control" id="edit_code_list_code_type" placeholder="请输入类型编码">
					</div>
					<div class="form-group">
						<label for="edit_code_list_id">参数取值</label> <input type="text"
							class="form-control" id="edit_code_list_code_id" placeholder="请输入参数取值">
					</div>
					<div class="form-group">
						<label for="edit_code_list_name">参数名称</label>
						<input type="text" class="form-control" id="edit_code_list_code_name" placeholder="请输入参数名称">
					</div>
					<div class="form-group">
						<label for="edit_code_list_status">状态</label>
						<select class="form-control" id="edit_code_list_status">
							<option value="1">有效</option>
							<option value="0">无效</option>
						</select>
					</div>
				</div>
			</div>
			<div class="modal_bottom">
				<div class="btn btn_primary" id="edit_code_list_save_btn">确 定</div>
				<div class="btn btn_default" id="edit_code_list_cancel_btn">取 消</div>
			</div>
		</div>
	</div>
	
	<!-- 选择类型-模态框 -->
	<div class="modal_layer" belong="mask" id="codeTypeModal">
		<div class="bg_cover" style="z-index:1002;"></div>
		<div class="modal_box" style="z-index:1003;">
			<div class="modal_top">
				<span class="modal_title">选择类型</span><span class="modal_close">x</span>
			</div>
			<div class="modal_middle" style="margin-top:0;">
				<div class="detail_last_item">
					<ul class="detail_info_body">
						<li class="line">
							<div class="width100per text_center">
								类型编码<span class="input_box">
									<input type="text" id="codeTypeModalCode" placeholder="请输入类型编码"/>
								</span>
								类型名称<span class="input_box">
									<input type="text" id="codeTypeModalName" placeholder="请输入类型名称"/>
								</span>
								<div class="btn btn_primary mleft10" id="codeTypeModalSearchBtn">查询</div>
							</div>
						</li>
						<li class="line">
							<div class="my" id="codeTypeModalList">
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>